.container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-menu);
}

.logo {
    margin: 16px auto 24px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.link[data-active="true"] {
    background-color: var(--primary-10rgba);
}

.link[data-active="true"] * {
    color: var(--primary);
}

.link[data-active="true"]:hover {
    background-color: var(--primary-25rgba);
}

.link[data-active="false"] * {
    color: var(--text-secondary);
    transition: color 0.3s;
}

.link[data-active="false"]:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.link[data-active="false"]:hover * {
    color: var(--text-highlight);
}

/* TABLET */
@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .nav {
        flex-direction: row;
    }

    .link {
        width: auto;
        flex: 1;
    }
}
